@page "/AdminDashboard"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authorization
@using ShoppingCartDotNet7.Components

@inject ProtectedSessionStorage protectedSessionStore
<div>This is admin</div>

@code {

    UserModel userModel=new UserModel();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await protectedSessionStore.GetAsync<UserModel>("UserRole");
            if (result.Success)
            {
                userModel = result.Value;            
            }
            else
            {
                // Handle error or redirect as needed
            }
            StateHasChanged(); // Re-render the component
        }
    }
    
}
